/* * layout one */
.layout-one {
  margin:  120px 0 200px;
}

.layout-one--headline {
  margin-bottom: 110px;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #1C1F28;
}

.layout-one__row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.layout-one__col {
  width: 420px;
  padding: 50px;
}
.layout-one__col h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1C1F28;
  margin: 43px 0 24px;
}
.layout-one p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #A1A4AC;
}

/* * layout two */
.layout-two {
  padding: 143px 0 130px;
  background: url('../images/Mask.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.layout-two__row {
  display: flex;
  align-items: flex-start;
}

.layout-two__card {
  padding: 50px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 50px rgba(7, 42, 68, 0.04);
}
.layout-two__card h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 41px;
}
.layout-two__card p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
.layout-two__card--margin {
  margin-bottom: 80px;
}

.layout-two__button {
  text-align: center;
  margin-top: 60px;
}
.layout-two__button--link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: rgb(20, 180, 92);
  padding: 16px 47px 17px 45px;
  border-radius: 16px;
  transition: all 0.25s;
}
.layout-two__button--link:hover {
  background-color: rgba(20, 180, 92, 0.85);
}

/* * layout three */
.layout-three {
  margin: 320px 0 280px;
  position: relative;
}
.layout-three::before {
  content: url(../images/green-obj.png);
  position: absolute;
  bottom: 250px;
  left: 0;
  z-index: -1;
}
.layout-three::after {
  content: url(../images/dark-obj.png);
  position: absolute;
  top: 350px;
  right: 0;
  z-index: -1;
}

.layout-three__row {
  display: flex;
  justify-content: space-between;
}

.layout-three--headline {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #1C1F28;
  margin-bottom: 20px;
}
.layout-three--description {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #7A7C82;
  margin-bottom: 80px;
}

.layout-three__card {
  padding-right: 75px;
}
.layout-three__card--padding {
  padding-right: 0;
}
.layout-three__image {
  border-radius: 15px 15px 0 0;
  width: 100%;
}
.layout-three__card h6 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #1C1F28;
  margin: 25px 0 10px;
}
.layout-three__card p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #A1A4AC;
  width: 300px;
  margin: 0 auto;
}

.layout-three__button {
  margin-top: 142px;
  text-align: center;
}
.layout-three__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgb(28, 31, 40);
  border: 1px solid rgb(28, 31, 40);
  border-radius: 16px;
  padding: 16px 57px 17px 58px;
  transition: all 0.25s;
}
.layout-three__link:hover {
  color: #fff;
  background-color: rgb(28, 31, 40);
}

/* * layout four */
.layout-rate {
  margin: 0 auto 280px;
  position: relative;
}

.rate__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate__content {
  width: 900px;
}

.image-arow {
  padding: 35px 42px 35px 43px;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.06);
  transition: all 0.25s;
}
.image-arow:hover {
  color: #FFFFFF;
  background: rgba(50, 54, 67, 0.10);
}

.arrow-left {
  position: absolute;
  left: 7%;
  top: calc(50% - 60px);
}
.arrow-right {
  position: absolute;
  right: 7%;
  top: calc(50% - 60px);
}

.rate--headline {
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #1C1F28;
  margin-bottom: 55px;
}
.rate--description {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #A1A4AC;
  margin-bottom: 40px;
}

.rate__row--col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate__image {
  margin-right: 30px;
}
.rate__col--headline {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #323643;
  margin-bottom: 17px;
}