@media (max-width: 2560px) {
  .footer-thumbnail {
    background-size: cover;
  }
}

@media (max-width: 2000px) {
  .footer-thumbnail {
    background-size: auto;
  }
}


@media (max-width: 1150px) {
.container {
  max-width: 90%;
}
.footer__card--content {
  width: 100%;
}

.header__inner {
  align-items: flex-start;
}

.layout-two__row,
.layout-three__row {
  flex-direction: column;
  align-items: center;
}

.flex--buttons {
  flex-direction: column;
}
.button--style-one {
  padding: 16px 0 17px;
  width: 100%;
  text-align: center;
  margin: 0;
}
.button--style-two {
  margin-top: 30px;
}

.layout-three__card {
  padding-right: 0;
  margin-top: 75px;
}

.rate--description {
  width: 80%;
  margin: 0 auto 80px;
}
.image-arow {
  width: 15px;
  padding: 0;
}
.image-arow:hover {
  background: none;
}
.arrow-left {
  left: 5%;
  top: calc(50% - 75px);
}
.arrow-right {
  right: 5%;
  top: calc(50% - 75px);
}

.footer__card--content {
  padding: 70px 100px;
}

.rate--description {
  font-size: 18px;
}

}

@media (max-width: 905px) {
.layout-one__row {
  flex-wrap: wrap;
  justify-content: center;
}

.hamburger-menu__col {
  display: block;
}

.nav__button {
  display: none;
}

.menu__list--item {
  display: none;
}
.menu__list--hamburger-menu {
  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  line-height: 16.42px;
  cursor: pointer;
}
.navbar-close {
  cursor: pointer;
}
.nav-bars {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(20,180,92);
  color: #fff;
}

.download-black--img {
  vertical-align: middle;
}


}

@media (max-width: 640px) {
  .container {
    max-width: 95%;
  }

  .menu__nav {
    width: 100%;
    padding: 70px 1.5rem;
  }
  .navbar-close {
    padding-right: 0;
  }

  .inner__thumbnail {
    width: 200px;
    order: 2;
    margin-top: 200px;
  }
  .header__inner {
    justify-content: center;
    flex-wrap: wrap;
  }
  .inner__description {
    margin: 0;
  }

  .layout-three::before {
    display: none;
  }
  .layout-three::after {
    display: none;
  }

  .iphone-x {
    width: 100%;
  }

  .image-arow {
    width: 10px;
  }
  .arrow-left {
    top: calc(50% - 40px);
  }
  .arrow-right {
    top: calc(50% - 40px);
  }

  .rate--image {
    width: 80px;
  }
  .rate-star {
    width: 100px;
  }
  .rate__col--headline {
    font-size: 18px;
  }

  .footer__nav--row {
    flex-wrap: wrap;
  }
  .footer__nav--col {
    width: 26%;
  }

  .footer-logo {
    display: none;
  }

  .footer__card--content {
    padding: 50px;
  }
  .footer__bottom--row {
    margin-top: 20px;
    padding-bottom: 40px;
  }

  .media {
    margin: 0;
  }
}